.containerEmail {
  margin: 0 auto;
 border-radius: 50px;
 background: rgb(184,173,144);
  background: linear-gradient(180deg, rgb(37, 54, 59) 26%, rgb(20, 15, 68) 100%);
}

.Aqui{
  width: 80px;
  margin: 0 auto;
}
form{
  margin: 0 auto
}
.border-slate-600 {
  display: flex;
  flex-direction: column;
  background-color: #9894bb;
  width: 480px;
}
label {
  color: #fff;
  font-family: "lato", serif;
}

.border-slate-600:hover {
  background: rgb(184,173,144);
  background: linear-gradient(180deg, rgb(171, 155, 173) 26%, rgb(72,62,71) 100%);
}

.titulos {
  display: flex;
  flex-direction: column;
}

.send {
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "lato", serif;
  background-color: rgb(58, 55, 43);
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  color: #fff;
}

.input2{
  max-height: 280px;
}

.send:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.flip-card1 {
  margin: 160px auto;
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: "lato";
}

.title1 {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner1 {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card1:hover .flip-card-inner1 {
  transform: rotateY(180deg);
}

.flip-card-front1, .flip-card-back1 {
  margin: 0 auto;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front1 {
   background: rgb(184,173,144);
  background: linear-gradient(180deg, rgb(171, 155, 173) 26%, rgb(72,62,71) 100%);
  color:#fff;
}

.flip-card-back1 {
  margin: 0 auto;
  width: 450px;
  transform: rotateY(180deg);
}

@media only screen and (max-width: 499px) {
  .containerEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    width:290px;
    margin: 0 auto;
    border-radius: 40px;
  }


  .border-slate-600 {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 50px;
  }

  .input2{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 140px;
  }
  label {
    color: #fff;
    font-size: 18px;
    margin:10px ;
  }


  .titulos {
    display: flex;
    flex-direction: column;
  }

  .send {
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
    color: #fff;
  }

  .send:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }

  .flip-card-back1 {
    margin: 0 auto;
    width: 245px;
    transform: rotateY(180deg);
  }
}

@media only screen and (min-width: 500px) and (max-width: 990px) {
  .containerEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width:450px;
    margin: 0 auto;
    border-radius: 40px;
  }

  label {
    color: #fff;
    font-size: 24px;
    margin:20px ;
  }

 .border-slate-600 {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 70px;
  }

  .input2{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 140px;
  } 

  .flip-card-back1 {
    margin: 0 auto;
    width:320px;
    transform: rotateY(180deg);
  }
}

@media only screen and (min-width: 991px)  {
  .containerEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width:650px;
    height: 520px;
    margin: 0 auto;
    border-radius: 40px;
  }

  label {
    color: #fff;
    font-size: 30px;
    margin:20px ;
  }

 .border-slate-600 {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 40px;
  }

  .input2{
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 140px;
  } 

  .send {
    margin-top: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 0 solid;
    outline: 1px solid;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
    color: #fff;
  }
}