.footer {
  background:#2f1e3a;
  border-top: solid #fff 5px;
}

.sloganFooter {
  padding-top: 15px;
  font-size: 28px;
  font-family: "Kavoon", serif;
  color: #fff;
  justify-content: center;
  align-content: center;
}

.containerF {
  display: flex;
  justify-content: space-around;
}

.footer-contact {
  font-size: 80px;
  justify-content: center;
  align-content: center;
  margin-left: -100px;
}
.ri-linkedin-box-line {
  color: #fff;
}
.ri-linkedin-box-line:hover {
  color: #000;
}

.ri-whatsapp-line {
  color: #fff;
  background: none;
}

.ri-whatsapp-line:hover {
  color: #000;
}

.ri-github-fill {
  color: #fff;
}

.ri-github-fill:hover {
  color: #000;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.li {
  color: #fff;
  font-family: "kavoon", serif;
  font-size: 20px;
  line-height: 40px;
}

.li:hover {
  color: #000;
  transform: scale(1.2);
}

div a {
  text-decoration: none;
  list-style: none;
}

.logo {
  height: 240px;
  margin-top: -80px;
}

.botonWha {
  background: none;
  height: 8px;
  border: none;
}

.frase {
  color: #fff;
  font-size: 16px;
  font-family: "kavoon", serif;
}

@media only screen and (min-width: 1500px) {
  .frase {
    color: #fff;
    font-size: 20px;
    font-family: "Domine", serif;
  }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  .frase {
    color: #fff;
    font-size: 16px;
    font-family: "Domine", serif;
  }

  .sloganFooter {
    padding-top: 25px;
    font-size: 22px;
    font-family: "Domine", serif;
    color: #fff;
    text-shadow: black 0.4em 0.4em 0.2em;
    justify-content: center;
    align-content: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    font-size: 14px;
  }

  .logo {
    height: 240px;
    width: 180px;
    margin-top: -80px;
  }

  .footer-contact {
    margin-top: 20px;
    font-size: 60px;
    justify-content: center;
    align-content: center;
    margin-left: -100px;
  }
}

/*celular*/
@media only screen and (max-width: 480px) {

  .sloganFooter {
    padding-top: 25px;
    font-size: 18px;
  }

  .containerF {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-contact {
    display: flex;
    margin: -10px auto;
    font-size: 60px;
  
    
  }
 
  .links {
    display: flex;
    flex-wrap: wrap;
  }

  .li {
    font-family: "Domine", serif;
    font-size: 16px;
    line-height: 40px;
  }

  .logo {
    height: 200px;
    width: 140px;
    margin: -40px auto;
    justify-content: center;
  }

  .botonWha {
    background: none;
    height: 8px;
    border: none;
  }

  .frase {
    margin-top: -80px;
    font-size: 12px;
  }
}
