.they {
  place-items: center;
  display: grid;
}
.slider {
  margin: 0 auto;
}

.perfil {
  height: 200px;
}

.control-arrow {
  height: 10px;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff;
  margin-top: 140px;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff;
  margin-top: 140px;
}

.carousel-container {
  justify-content: center;
  align-items: center;
  width: 350px;
}

.container {
  height: 460px;
}

.opinion {
  font-family: "arial";
  color: #fff;
  font-size: 18px;
}

p .legend {
  color: #fff;
  font-size: 78px;
}

#legen {
  color: #fff;
  font-size: 24px;
  font-family: "Domine", serif;
}

.redesThey {
  font-size: 70px;
  margin: 0 auto;
}

/*pantalla grande*/
@media only screen and (min-width: 1500px) {
  .carousel-container {
    justify-content: center;
    align-items: center;
    width: 650px;
  }
}

/*celular*/
@media only screen and (max-width: 480px) {
  .they {
    margin-top: 50px;
  }

  .perfil {
    height: 180px;
  }

  .control-arrow {
    height: 10px;
  }

  .carousel .control-next.control-arrow:before {
    border-left: 8px solid #fff;
    margin-top: 140px;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 8px solid #fff;
    margin-top: 140px;
  }

  .carousel-container {
    justify-content: center;
    align-items: center;
    width: 250px;
  }

  .container {
    height: 420px;
  }

  .opinion {
    font-family: "arial";
    color: #fff;
    font-size: 16px;
  }

  p .legend {
    color: #fff;
  }

  #legen {
    color: #fff;
    font-size: 14px;
    font-family: "Domine", serif;
  }

  .redesThey {
    font-size: 40px;
    margin: 0 auto;
  }

  .carousel .control-dots{
    display: none; /*desaparecer los puntos del slider*/
  }
}
