.they{
    margin-top: 160px;
}
.slider{
    justify-content: center;
    align-items: center;
    display: flex;
}

.perfil{
    height: 200px;
}

.control-arrow{
    height: 10px;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #fff;
    margin-top: 140px;
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #fff;
    margin-top: 140px;
}

.carousel-container{
    justify-content: center;
    align-items: center;
    width: 450px;
}

.container{
    height: 400px;
}

.opinion{
    font-family: "arial";
    color: #fff;
    font-size: 18px;
}

p .legend{
    color: #fff;
    font-size: 88px;
    
}

#legen{
    color: #fff;
    font-size: 24px;
    font-family: "Domine", serif;
}