.they {
  place-items: center;
  display: grid;
}
.slider {
  margin: 0 auto;
}

.perfil {
  height: 210px;
}

.control-arrow {
  height: 10px;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000;
  margin-top: 140px;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000;
  margin-top: 140px;
}

.carousel-container {
  justify-content: center;
  align-items: center;
  width: 350px;
}

.container {
  height: 540px;
}

.opinion {
  font-family: "arial";
  color: #000;
  font-size: 18px;
}

p .legend {
  color: #000;
  font-size: 70px;
}

#legen {
  color: #fff;
  font-size: 24px;
  font-family: "Domine", serif;
}
.carousel .control-dots .dot{
  background: #000;
}
.redesThey {
  font-size: 70px;
  margin: 0 auto;
}



/*pantalla grande*/
@media only screen and (min-width: 1100px) {
  .carousel-container {
    justify-content: center;
    align-items: center;
    width: 530px;
  }

  
}

/*celular*/
@media only screen and (max-width: 480px) {
  .they {
    margin-top: 50px;
  }

  .perfil {
    height: 180px;
  }

  .control-arrow {
    height: 10px;
  }

  .carousel .control-next.control-arrow:before {
    border-left: 8px solid #000;
    margin-top: 140px;
    z-index: 0;
  }
  .carousel .control-prev.control-arrow:before {
    border-right: 8px solid #000;
    margin-top: 140px;
    z-index: 0;
  }

  .carousel-container {
    justify-content: center;
    align-items: center;
    width: 250px;
  }

  .container {
    height: 520px;
  }

  .opinion {
    font-family: "arial";
    color: #000;
    font-size: 16px;
  }

  p .legend {
    color: #000;
  }

  #legen {
    font-size: 14px;
    font-family: "Domine", serif;
  }

  .redesThey {
    font-size: 40px;
    margin: 0 auto;
  }

  .carousel .control-dots{
    display: none; /*desaparecer los puntos del slider*/
  }
}
