.Hab {
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.skills {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.skill1:hover {
  /* transform: scale(1.1); */
  transform: rotate(360deg);
  transition: 0.7s;
}

.skill2:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}
.skill3:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}
.skill4:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}
.skill5:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}

.skill6:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}

.skill7:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}

.skill8:hover {
  transform: rotate(360deg);
  transition: 0.7s;
}

 /*Pantalla grane*/
 @media only screen and (min-width: 1500px) {
  .skills {
    margin-top: 60px;
    display: grid;
    width: 1000px;
    grid-column-gap: 20px;
    grid-row-gap: 60px;
  }

 }

/*celular*/
 @media only screen and (max-width: 480px) {

  .Hab {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .skills {
    margin-right:30px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;

  }

  .skill1{
    width: 80px;
  }
  .skill2{
    width: 80px;
  }
  .skill3{
    width: 80px;
  }
  .skill4{
    width: 80px;
  }
  .skill5{
    width: 80px;
  }
  .skill6{
    width: 80px;
  }
  .skill7{
    width: 80px;
  }
  .skill8{
    width: 80px;
  }

 
 }