.Hab{
    text-align: center;
    justify-content: center;
    display: inline-block;
}

.skills{
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.skills:hover{
    transform: scale(1.1);
}